::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #ffffff;
}

::-webkit-scrollbar-thumb {
	background: #95b7e7;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}



.raleway-fonts {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ant-menu-submenu-title {
	white-space: normal !important;
	height: auto !important;
 }
 
 .ant-menu-submenu-title span {
	display: block;
	max-width: 360px; 
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 2; 
 }
 .ant-menu-submenu-title .anticon {
	margin-right: 8px; 
 }
 
 .ant-menu-submenu-title .anticon + span {
	margin-left: 4px; 
 }	


.submenu-items {
	overflow-y: auto;
	max-height: 250px; 
 }
 